.splash-holder {
    text-align: right;
    display:inline-block
}

.text-holder {
    display:inline-block;
    padding-left: 400px;
    padding-right: 50px;
}

.splash {
    object-fit: cover;
}

.parent {
    border: #D9E021;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}