node_modules
# package-lock.json
package-lock.json

# yarn-lock
yarn.lock

#ds store
.DS_STORE


#bundle.js
public/bundle.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*