.chronic-paragraph {
    text-align: center;
}

.text-tag {
    font-size: 39px;
    text-align: center;
    padding: 25px;
    letter-spacing: 1px;
    color: #2C8396;
    font-family: raleway, sans-serif;
    font-weight: 400;
}

.list-holder {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.list-item {
    list-style-image:url("/public/icons/list.png")
}
