.chronic-paragraph {
    text-align: center;
}

.text-tag {
    font-size: 39px;
    text-align: center;
    padding: 25px;
    letter-spacing: 1px;
    color: #2C8396;
    font-family: raleway, sans-serif;
    font-weight: 400;
}

.list-holder {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.list-item {
    list-style-image:url("/public/icons/list.png")
}

.healthHolder {
    width: 50%;
    margin-left: 475px;
}

.informationHolderHormone {
    width: 440px;
    min-height: 356px;
    background-color: #FAC168;
    display: inline-block;
    margin-left: 475px;
    // margin-right: -10000px;
    // margin-top:806px;
}

.informationHolderMetabolic {
    width: 440px;
    min-height: 356px;
    background-color: #D9E021;
    display: inline-block;
    margin-left: 100px;
    // margin-right: -10000px;
    // margin-top:806px;
}

.informationTitle {
    font-weight: 500;
    padding-top: 20px;
    color: #2C8396;
    font-size: 28px;
    line-height: 42px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.informationParagraph {
    text-align: center;
}

.genericButton {
    background-color: #2C8396;
    border-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    padding: 4px;
    margin: 15px;
}

.buttonParagraph {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    padding: 6px;
}

.buttonHolder {
    text-align: center;
}