.profileHolder {
    text-align: center;
    padding: 50px;
    width: 60%;
    margin-left: 400px;
}

.bio {
    padding: 10px;
    color: black;
    font-family: Arial;
    font-weight: 50;
    letter-spacing: 1px;
}

.quote {
    color: #2C8396;
    font-family: serif;
    padding: 10px;
}

.profileHeadline {
    color: #2C8396;
    font-size: 39px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 51px;
}

.profileList {
    list-style: none;
    text-align: left;

}

.profileButton {
    background: #2C8396;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    padding: 6px;
    border-style: solid;
    border-radius: 10px;
}

.accreditationsHolder {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 300px;
}

li {
    margin: 5px;
}
