.profileHolder {
    text-align: center;
    padding: 50px;
    width: 60%;
    margin-left: 400px;
}

.bio {
    padding: 10px;
}

.quote {
    color: #2C8396;
    font-family: serif;
    padding: 10px;
}

.profileHeadline {
    color: #2C8396;
}

.profileList {
    list-style: none;
}

.profileButton {
    background: #2C8396;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    padding: 6px;
    border-style: solid;
    border-radius: 10px;
}