.bottomContainer {
    background-image:url('../public/icons/pw-leafman-evencolor-u145739-fr.png');
    background-repeat: no-repeat;
    background-position: top right 20%;
    background-size: 300px;
}