.logos {
    width:147px;
    height:111px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 0;
}

.logoContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#holder {
    text-align: center;
    left: 0;
    right: 0;
}

.inner {
    display: inline-block;
    padding-bottom: 20px;
}

.footerHolder {
    padding: 10px;
    border: #D9E021;
    border-style: solid;
    border-width: 0px;
    border-top-width: 5px;
    border-bottom: 0px;
    min-height: 10vh;
}

p {
    color: white;
}

.textHolder {
    padding-top: 20px;
}

